.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
html{
    background-image: url("../images/paper.gif");
}
body{
    font-family: sans-serif;
    font-size: 100%;
    width: 60%;
    max-width: 960px;
    margin: 0px auto 10px;
    border: 5px solid steelblue;
    -webkit-box-shadow: 0 0 5px 5px black;
    -moz-box-shadow: 0 0 5px 5px black;
    box-shadow: 0 0 5px 5px black;
    background-color: white;
}
/*Header styles*/
body header{
    border-bottom: 5px solid steelblue;
    background-image: linear-gradient(white, lightsteelblue);
}
body header img{
    float: left;
}
body header h2{
    font-size: 250%;
    color: steelblue;
    text-shadow: 2px 2px 4px  steelblue;
    font-style: italic;
}
body header h3{
    font-size: 150%;
}
/*main styles*/
body main{
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}
/*section styles*/
body main .home_section{
    width: 65%;
    float: right;
}
/*Horizontal Nav Bar float and block style*/
#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: steelblue;
  }
  
  #nav_menu ul li {
    float: left;
  }

  #nav_menu #about{
      float: right;
  }
  
  #nav_menu ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #nav_menu ul li a:hover:not(.active) {
    background-color: lightsteelblue;
  }
  
  #nav_menu ul li .active {
    background-color: white;
  }
/*Horizontal nav styles*/
/*#nav_menu ul{
    list-style: none;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    background-color: steelblue;
}
#nav_menu ul li{
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    border-left: 2px solid black;
}
#nav_menu #last{
    border-right: 2px solid black;
}
#nav_menu ul li a{
    text-decoration: none;
    font-weight: bold;
}*/
/*Link styles*/
a:link{
    color: steelblue;
}

a:visited{
    color: maroon;
}

a:hover{
    color: purple;
}

a:active{
    color: blue;
}
/*Vertical nav*/
#sidebar{
    width: 33%;
}
#sidebar ul li a{
    display: block;
    font-weight: bold;
    background-color: lightsteelblue;
    text-decoration: none;
    padding: 0.5em;
    color: black;
}
#sidebar h2{
    font-size: 160%;
    color: black;
}

#sidebar ul li{
    border: 1px solid black;
    list-style: none;
}
#sidebar ul li a:hover{
    background-color: steelblue;
    color:white;
}
/*footer styles*/
body footer{
    clear: both;
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 5px;
}

@media only screen and (max-width: 600px){
    .home_section{
        float: none;
        width: 100%;
    }
    #sidebar{
        width: 100%;
    }
    #mobilemenu{
        display: contents;
    }
}
@media only screen and (max-width: 400px){
    
}